.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 40;
    overflow: hidden;
}

/* Top decoration removed */

.topDeco:active {
    cursor: grabbing;
}

/* Bottom styles moved to Contact */

.floatingDeco {
    position: absolute;
    top: -10vh;
    font-size: 2.5rem;
    opacity: 0.7;
    pointer-events: auto;
}

.floatingDeco:hover {
    scale: 1.5;
}